:root {
    --primary-color:#161b22;
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);

    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    
}

img {
    max-width: 100%;
    height: auto;
}



/* Estilos para la cabecera del sitio web */
.header {
    position: sticky;
    z-index: 997;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 10px 0px;
    opacity: 1;
   
}

header .burger-btn {
    margin-right: 10px;

}

.header .burger-btn:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.logo p {
    font-family: sans-serif;
    font-weight: bold;
}

/* Modal del boton Burger */

.panel {
    position: fixed;
    top: 83px;
    right: 0;
    left: 0;
    z-index: 996;
    width: 100%;
    padding: 5px 0;
    background-color: var(--second-modal-color);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease;
    transform: translate(0, -100%);
}

.panel.is-active {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.panel.not-active {
    transform: translate(0,-100%);
    opacity: 1;
    visibility: visible;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.menu a {
    padding: 1rem;
    width: inherit;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

/*Estilos de la seccion de la heroImage*/

section .heroImage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url("../img/hero-image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: border-box;

}

.photo-perfil {
    border-radius: 50%;
    border: medium solid white;
    width: 200px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.data p,
.data h1 {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data h1 {
    font-size: 3rem;
}
.data p {
    font-size: 1.5rem;
}
.data p:first-child {
    font-size: 25px;
    margin-bottom: 0;
}

/* Estilos a las secciones*/

section[class="sections"] {
    scroll-margin-top: 8ex;
}

.sections {
    color: white;
    z-index: 200;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 100%);
    width: 100%;
    height: 100vh;
    padding: 1rem;
    text-align: center;
}




















































