:root {
    --primary-color: #18191a;
    --second-color: #242526;
    --border-color: #393a3b;
    --border-color-hover: #616364;
    --bg-color-scrollbar: #6163647a;
    --color-text: #e4e6eb;
    --bg-botton: #494b4e;
    --bg-botton-hover: #6a6d72;
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #e4e6eb;
    --main-modal-color: #6a6d728c;
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
    --form-success-color: #4caf50;
    --form-error-color: #f44336;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    
}

/* Estilos del scroll del body para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 8px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button{
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-scrollbar);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}



/* Estilos para la cabecera del sitio web */
.header {
    position: sticky;
    z-index: 997;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    color: var(--color-text);
    width: 100%;
    border: thin solid var(--border-color);
    padding: 10px 0px;
    opacity: 1;
   
}

.burger-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    background-color: var(--bg-botton);
    transition: background-color 1s ease;
}

.burger-btn:hover {
    cursor: pointer;
    background-color: var(--bg-botton-hover);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.logo p {
    font-family: sans-serif;
    font-weight: bold;
}

/* Modal del boton Burger */

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 85px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 996;
    max-width: 300px;
    width: 50%;
    padding: 1rem 10px 0 10px;
    border-right: thin solid var(--border-color-hover);
    background-color: var(--second-color);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease;
    transform: translate(0, 0);
}

.panel p {
    color: var(--color-text);
    font-size: .7rem;
}

.panel .cp {
    font-size: 1rem;
}


.panel.is-active {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.panel.not-active {
    transform: translate(-100%, 0);
    opacity: 1;
    visibility: visible;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;   
}

.menu a {
    padding: 1rem;
    width: inherit;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;

}

.menu a:hover {
    border-radius: .5rem;
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--main-modal-color);
}

/*Estilos de la seccion de la heroImage*/

section .heroImage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/hero-image-2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    /* background-origin: border-box; */

}

.photo-perfil {
    border-radius: 50%;
    border: medium solid white;
    width: 200px;
    margin-right: 25px;
    /* margin-top: 45px;
    margin-bottom: 20px; */
}

.data {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.data .title {
    text-align: center;
    color: var(--color-text);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data .comment {
    text-align: justify;
    color: var(--color-text);
    font-size: 1.2rem;
    padding: 0 10px;
}

/* Estilos a las secciones*/

/* section[class="sections"] {
    scroll-margin-top: 80px;
} */

.sections {
    color: var(--color-text);
    z-index: 200;
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    padding: 1rem;
    
    scroll-margin-top: 80px;
}

.sections h2 {
    font-size: 2rem;
}

.portfolios-container {
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    overflow-x: hidden;
    
}

.portfolios-container h2,
.portfolios-container p {
    text-align: center;
}

.container-scroll-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: repeat(1, auto);
    overflow-x: scroll;
    scroll-snap-type: both mandatory;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos del scrollbar para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container-scroll-portfolio::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-scroll-portfolio::-webkit-scrollbar:horizontal {
    height: 8px;
}

.container-scroll-portfolio::-webkit-scrollbar-button:increment,
.container-scroll-portfolio::-webkit-scrollbar-button{
    display: none;
}

.container-scroll-portfolio::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-scrollbar);
    border-radius: 20px;
}

.container-scroll-portfolio::-webkit-scrollbar-track {
    border-radius: 10px;
}

.portfolios-container .portfolio {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--second-color);
    border-radius: 20px;
    border: medium solid var(--primary-color);
    scroll-snap-align: center;
    
}

.portfolios-container .portfolio:hover {
    border: medium solid var(--border-color);
}


.portfolio .img-proyect {
    width: 100%;
    height: auto;  
}

.portfolio .portfolio-info {
    display: flex;
    flex-direction: column;
}

@keyframes pulso {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.2);
    }
}

.portfolio-info .pulso {
    animation: pulso 1s ease-in-out infinite;
}

.portfolio-info a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    
}

.portfolio-info a::before {
    content: "👉 ";
}

.portfolio-info a::after {
    content: " 👈";
}


.portfolio-info .reference-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.reference-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: thick solid var(--border-color);

}

.comments p {
    font-size: 1rem;
}

/* Estilos de la seccion de Habilidades*/
.skills-container {
    text-align: center;
}

.skills li {
    text-align: left;
    font-size: 1.5rem;
}

/* Estilos de la seccion de Tecnologías*/

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: var(--border-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: 50px;
    left: -17px;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.technologies-container {
    text-align: center;
}

.technologies-container img {
    width: 50px;
    height: 50px;
}

.technologies-container img:hover {
    transform: scale(1.3);
}

/* Agragando estilos para la seccion del contacto*/
.contact-container h2,
.contact-container p,
.contact-container input[type="submit"] {
    text-align: center;
}


.contact-container form {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border: thin solid var(--border-color);
    background-color: var(--second-color);
}

form > *::placeholder {
    color: #3d973c8c
    
}

form label {
    text-align: left;
    
}

/* Agregando validacion para el formulario del cotacto*/

form > *[required]:valid {
    border: thin solid var(--form-success-color);
}

form > *[required]:invalid {
    border: thin solid var(--form-error-color);
}

/* -------------------------------------*/

form input[type="email"],
form textarea {
    width: inherit;
    margin-bottom: 1rem;
    margin-top: 5px;
    outline: none;
    padding: 5px 5px;
    color: var(--color-text);
    background-color: var(--second-color);
    border: thin solid var(--border-color);
}

form input[type="email"]:hover,
form textarea:hover {
    border: thin solid var(--border-color-hover);
}


form textarea {
    resize: none; /* La textarea ya no es redimensionable*/
}


.contact-container input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text);
    background-color : var(--bg-botton);
    border: thin solid var(--border-color);
    border-radius: 3px;
    padding: 8px;
    opacity: 0.75;
}

.contact-container input[type="submit"]:hover {
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    opacity: 1;
}




/* Medias queries */
/* Tablet */
@media screen and (min-width: 768px) {

    section .heroImage {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 0 20px;
    }
    
    .photo-perfil {
        width: 380px;
    }
    
    
    
    .data .title {
        font-size: 2.6rem; 
    }
    
    .data .comment {
        text-align: justify;
        color: var(--color-text);
        font-size: 1.2rem;
        padding: 0 10px;
    }

    
    .portfolios-container {
        width: 100%;
        
    }

    .container-scroll-portfolio {
        /* display: grid; */
        grid-template-columns: repeat(3, 50%);
        grid-template-rows: repeat(1, auto);
        /* column-gap: 10px; */
        /* overflow-x: scroll; */
        scroll-snap-type: both mandatory;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 850px) {

}






/* Desktop */
@media screen and (min-width: 1024px) {

    .data .title {
        font-size: 3.6rem; 
    }
    
    .data .comment {
        text-align: justify;
        color: var(--color-text);
        font-size: 1.5rem;
        padding: 0 10px;
    }




    .portfolios-container {
        width: 100%;
        
    }

    .container-scroll-portfolio {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, auto);
        justify-items: center;
        justify-content: center;
        /* column-gap: 10px; */
        overflow-x: hidden;
        /* scroll-snap-type: both mandatory; */
        width: 100%;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}












































